.user-container-profile {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

.personal-infos {
  margin-top: 2rem;
  width: 180rem;
}

.user-container {
  background-color: var(--color-secondary);
  border-radius: 10px;
  margin: 30px 20px;
  padding: 20px;
}

li {
  list-style-type: none;
  margin-bottom: 5px;
}

.image-profile {
  border-radius: 50%;
  width: 220px;
}

.image-profile-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-container {
  color: var(--color-secondary);
  background-color: var(--color-senary);
  border-radius: 10px;
  padding: 20px;
  position: relative;
  font-size: 20px;
  font-weight: 400;
  width: 900px;
}

.images-contact {
  border-radius: 50%;
  width: 100px;
  margin-bottom: 10px;
}

.personal-infos {
  display: flex;
  background-color: var(--color-quaternary);
  border-radius: 10px;
  flex-direction: column;
  font-size: 18px;
  font-weight: 400;
  padding: 20px;
  margin-bottom: 20px;
}

.contact-container {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.contact-container li {
  border-radius: 50%;
  padding: 15px 0px 0px 17px;
  width: 130px;
}

.contact-container li:hover {
  cursor: pointer;
}

.background-container {
  background-color: var(--color-senary);
  border-radius: 10px;
  font-size: 18px;
  font-weight: 400;
  padding: 20px;
  margin-bottom: 20px;
}

ul li:hover {
  font-weight: 700;
}

.strong {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.download-button {
  background-color: var(--color-senary);
  border: none;
  border-radius: 5px;
  color: var(--color-secondary);
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  height: 6rem;
  padding: 1.5rem 2.5rem;
}

.title-containers {
  font-size: 1.8rem;
  font-weight: 700;
  color: white;
}

@media (max-width:1281px) {
  .personal-infos {
    width: 85rem;
  }

  .background-container {
    font-size: 1.5rem;
  }

  .image-profile {
    width: 15rem;
  }

  .images-contact {
    width: 7rem;
  }
  
  .text-container {
    border-radius: 10px;
    padding: 2rem;
    font-size: 1.4rem;
    width: 81rem;
  }

  .download-button {
    font-size: 1.4rem;
    height: 5rem;
    padding: 1.5rem 2.5rem;
  }

  .download-button {
    margin-right: 4rem;
  }
}

@media (max-width:1025px) {
  .personal-infos {
    width: 60rem;
  }

  .text-container {
    width: 56rem;
  }

  .download-button {
    margin-right: 4rem;
  }
}

@media (max-width:801px) {
  .personal-infos {
    margin-left: 0;
    width: 48rem;
  }

  .image-profile {
    margin-bottom: 1rem;
    width: 14rem;
  }

  .contact-container {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .images-contact {
    margin: 0;
    width: 6rem;
  }

  .text-container {
    font-size: 1.2rem;
    width: 45rem;
  }

  .download-button {
    font-size: 1rem;
    margin-right: 4rem;
    height: 4rem;
    width: 8rem;
    padding: 1rem 1rem 1rem 1rem;
    text-align: center;
  }

  .strong {
    font-size: 1.5rem;
  }

  .title-containers {
    font-size: 1.2rem;
  }

  .background-container {
    font-size: 0.9rem;
    width: 48rem;
  }
}

@media (max-width:600px) {

  .personal-infos {
    margin-left: 0;
    width: 55rem;
  }

  .image-profile {
    margin-bottom: 1rem;
    padding: 1rem;
    width: 12rem;
  }

  .contact-container {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
  }

  .images-contact {
    margin: 0;
    padding: 1rem;
    width: 7rem;
  }

  .text-container {
    font-size: 1.4rem;
    width: 50rem;
  }

  .download-button {
    font-size: 0.9rem;
    margin-right: 4rem;
    height: 4rem;
    width: 7rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    text-align: center;
  }

  .strong {
    font-size: 1.5rem;
  }

  .title-containers {
    font-size: 1.2rem;
  }

  .background-container {
    font-size: 1.4rem;
    width: 55rem;
  }
}

@media (max-width:480px) {
  .personal-infos {
    margin-left: 0;
    width: 44rem;
  }

  .images-contact {
    margin-right: 0;
    width: 6rem;
  }

  .image-profile {
    margin-bottom: 0;
    width: 12rem;
  }

  .text-container {
    font-size: 1.2rem;
    width: 40rem;
  }

  .background-container {
    font-size: 1.2rem;
    width: 44rem;
  }

  .strong {
    font-size: 1.3rem;
  }

  .title-containers {
    font-size: 1.2rem;
  }
}

@media (max-width:320px) {
  .personal-infos {
    width: 28rem;
  }

  .images-contact {
    margin-right: 0;
    width: 5rem;
  }

  .image-profile {
    margin-right: 0;
    margin-bottom: 0.5rem;
    width: 12rem;
  }

  .text-container {
    font-size: 0.8rem;
    width: 24rem;
  }

  .background-container {
    font-size: 0.8rem;
    width: 28rem;
  }

  .download-button {
    font-size: 0.8rem;
    margin-left: 2rem;
    height: 3rem;
    width: 6rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  }

  .strong {
    font-size: 1rem;
  }

  .title-containers {
    font-size: 1rem;
  }
}