.homebody-container {
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
}

.title {
  color: var(--color-font-quaternary);
  border-radius: 5px;
  display: flex;
  font-weight: 700;
  justify-content: center;
  padding: 10px 10px;
  margin-left: 100px;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 300px;
}

.container-first {
  align-items: center;
  background-color: var(--color-quinary);
  display: flex;
  font-size: 14px;
  height: 300px;
  justify-content: flex-start;
}

.container-first p {
  padding: 5px;
  font-size: 18px;
  font-weight: 700;
  margin-left: 120px;
}

.container-first li {
  margin-left: 160px;
  list-style-type: square;
}

.container-first li:hover {
  color: var(--color-senary);
  font-size: 16px;
}

strong {
  color: var(--color-tertiary);
  margin-left: 4px;
  margin-right: 6px;
}

.container-second {
  background-color: var(--color-quinary);
  color: var(--color-quinary);
  height: 90px;
  margin-bottom: 20px;
}