header {
    background-color: var(--color-quaternary);
}

.header-container {
  display: flex;
  justify-content: space-between;
}

img {
  margin: 40px;
  width: 80px;
}

@media (max-width: 800px) {
  
}