.container-footer {
  background-color: var(--color-quaternary);
  height: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.technologies-list {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.icon-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  animation: scrollIcons 20s linear infinite;
}

.icon-list li {
  margin: 0 6rem;
}

.icon {
  color: var(--color-tertiary);
  transition: transform 0.3s;
  height: 4rem;
}

.icon:hover {
  transform: scale(1.2);
}

@keyframes scrollIcons {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media (max-width:600px) {
  .container-footer {
    align-items: center;
    display: flex;
    height: 10rem;
  }
  .icon {
    height: 3rem;
  }

  .icon-list li {
    margin: 0 1.5rem;
  }
}

@media (max-width:480px) {
  .container-footer {
    height: 15rem;
  }
  .icon {
    height: 2.5rem;
  }
  .icon-list li {
    margin: 0 1.2rem;
  }
}

@media (max-width:320px) {
  .container-footer {
    height: 15rem;
  }
  .icon {
    height: 2.5rem;
  }
  .icon-list li {
    margin: 0 1rem;
  }
}