.main-container {
  display: flex;
  flex-direction: column;
  width: 99%;
}

.container-input-btn {
  margin-bottom: 20px;
  margin-left: 20px;
  width: 100%;
}

.input-search {
  border: none;
  height: 30px;
  padding-left: 10px;
  width: 170px;
}

.btn-search {
  color: var(--color-primary);
  cursor: pointer;
  border: none;
  border-radius: 0px 10px 10px 0px;
  font-size: 16px;
  font-weight: 700;
  height: 30px;
  width: 80px;
}

.input-search::placeholder {
  padding: 10px;
}

.render-certificates {
  align-items: center;
  background-color: var(--color-primary);
  border-radius: 10px;
  border: 10px solid var(--color-senary);
  display: flex;
  font-size: 10px;
  margin-bottom: 20px;
  margin-left: 30px;
  width: 800px;
}

.render-certificates img {
  border-radius: 20px;
  width: 650px;
}



.name-url-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.format-stacks {
  font-weight: 700;
}

div p {
  margin-bottom: 5px;
}