@import url('https://fonts.googleapis.com/css2?family=Krub:wght@200;400;500;700&display=swap');

:root {
    --color-primary: #a460f9;
    --color-secondary: #181818;
    --color-tertiary: #ffffff;
    --color-quaternary: #252525;
    --color-quinary: #f1f1f1;
    --color-senary: #8c6eca;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Krub', sans-serif;
}

a,
a:hover {
    text-decoration: none;
    color: unset;
}

html,
body {
    background-color: var(--color-bg-tertiary);
}
