@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root {
    --color-bg-primary: #011F26;
    --color-bg-secondary: #035949;
    --color-bg-tertiary: #2A5936;
    --color-bg-quaternary: #768C6C;
    --color-bg-quinary: #D9D9D9;
    --color-bg-senary: #FFFFFF;

    --color-font-primary: #011F26;
    --color-font-secondary: #035949;
    --color-font-tertiary: #2A5936;
    --color-font-quaternary: #768C6C;
    --color-font-quinary: #000000;
    --color-font-senary: #FFFFFF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

a,
a:hover {
    text-decoration: none;
    color: unset;
}

html,
body {
    background-color: var(--color-bg-tertiary);
}
