@import url('https://fonts.googleapis.com/css2?family=Krub:wght@200;400;500;700&display=swap');

:root {
    --color-primary: #333333;
    --color-secondary: #ffffff;
    --color-tertiary: #d4af37;
    --color-quaternary: #003366;
    --color-quinary: #f1f1f1;
    --color-senary: #8c6eca;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Krub', sans-serif;
}

a,
a:hover {
    text-decoration: none;
    color: unset;
}

html {
    font-size: 62.5%; /* 1rem = 10px */
}

body {
    background-color: var(--color-secondary);
}
